<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<link rel="icon" type="image/png" href="images/logo.png">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- JavaScript -->
	<script th:src="@{/js/jquery-3.6.4.min.js}"></script>
	<script th:src="@{/js/script.js}"></script>
	<!-- CSS -->
	<link th:href="@{/css/liststyle.css}" rel="stylesheet">
	<!-- Boxicons CSS -->
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<title>書籍管理システム</title>
</head>
<body>
	<nav class="sidebar">
		<header>
			<div class="image-text">
				<span class="image">
					<img src="images/logo.png" alt="logo">
				</span>

				<div class="text header-text">
					<span id="name">書籍管理システム</span>
					<span id="eng-name">Book Management System</span>
				</div>
			</div>

			<i class='bx bx-chevrons-right toggle'></i>
		</header>

		<div class="menu-bar">
			<div class="menu">
				<div class="userName">
					<p>ようこそ、<span th:text="${session.userName}"></span>さん</p>
				</div>
				<p class="searchHeader">書籍名検索</p>
					<li class="search-box">
								<form th:action="@{/findByName}" id="searchForm" name="inputSearch" method="post" class="search">
									<a href="javascript:inputSearch.submit()" class="search"><i class='bx bx-search-alt icon'></i></a>
									<input type="text" name="bookName" placeholder="検索...">
								</form>
					</li>
					<p class="searchHeader">ジャンル検索</p>
					<li class="search-genre">
						<form th:action="@{/findByGenre}" id="searchForm" name="genreSearch" method="post" class="search">
							<a href="javascript:genreSearch.submit()" class="searchGenre"><i class='bx bx-search-alt icon'></i></a>
							<select name="genreId">
								<option th:each="genre:${genres}" th:value="${genre.id}" th:text="${genre.genreName}" th:selected="${genreId == genre.id}"></option>
							</select>
						</form>
					</li>
				<ul class="menu-link">
					<li class="nav-link">
						<a th:href="@{/list}">
							<i class='bx bx-home icon'></i>
							<span class="text nav-text">ホーム</span>
						</a>
					</li>
					<li class="nav-link">
						<a th:href="@{/registry_book}" class="registry_book">
							<i class='bx bx-data icon'></i>
							<span class="text nav-text">新規書籍登録</span>
						</a>
					</li>
				</ul>
			</div>

			<div class="bottom-content">
				<li class="">
					<a th:href="@{/logout}" class="logoutBtn">
						<i class="bx bx-log-out icon"></i>
						<span class="text nav-text">ログアウト</span>
					</a>
				</li>

				<li class="mode">
					<div class="moon-sun">
						<i class="bx bx-moon icon moon"></i>
						<i class="bx bx-sun icon sun"></i>
					</div>

					<span class="text mode-text">ダークモード</span>

					<div class="toggle-switch">
						<span class="switch"></span>
					</div>
				</li>
			</div>
		</div>
	</nav>

	<div class="main-list">
		<h1 class="table-header">書籍一覧</h1>
		<div class="menu-container">
			<div class="findAllBtn">
				<a th:href="@{/list_r}">
					<i class="bx bx-search icon"></i>
					<span class="text findAllText">全件表示</span>
				</a>
			</div>
		</div>
		<div class="message" th:if="${#lists.isEmpty(books)}">
			<p>該当する書籍は存在しません。</p>
		</div>
		<div class="table" th:unless="${#lists.isEmpty(books)}">
			<table class="list-table">
				<tr>
					<th class="th book_id">書籍ID</th>
					<th class="th book_name">書籍名</th>
					<th class="th author">著者</th>
					<th class="th pub_date">発行日</th>
					<th class="th stock">在庫</th>
					<th class="th genre">ジャンル</th>
				</tr>
				<tr th:each="book:${books}">
					<td class="data" th:text="${book.bookId}"></td>
					<td class="data" th:text="${book.bookName}"></td>
					<td class="data" th:text="${book.author}"></td>
					<td class="data" th:text="${#dates.format(book.publicationDate, 'YYYY/MM/dd')}"></td>
					<td class="data" th:text="${book.stock}"></td>
					<td class="data" th:text="${book.genre.genreName}"></td>
					<td class="btn"><form th:action="@{/update/}+${book.bookId}" method="post"><input type="submit" value="編集" class="edit"></form></td>
					<td class="btn"><form th:action="@{/delete/excute/}+${book.bookId}" method="post" class="deleteForm"><input type="submit" value="削除" id="delete"></form></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
